<html>
	<head>
		<title></title>
	</head>

	<body style="margin:0">
		<h3 style="background-color:#e5e5e5; padding: 5px; font-size:1em"><b style="color:white">RemaxThailand&#46;co&#46;th</b></h3>

		<div style="padding:10px">

			<span style="font-size:1.2em">สวัสดีค่ะ คุณ<b>REPLACEFIRSTNAME</b></span>
			<br />
			<br />
			การสมัครเป็น Dealer ของคุณได้รับอนุมัติเรียบร้อยแล้วค่ะ<br />
			คุณได้รับคูปองส่วนลด 100 บาท ในการสั่งซื้อสินค้าครั้งแรก โดยรหัสคูปองส่วนลดคือ
			<h3>REPLACECODE</h3>

		</div>

	</body>
</html>