<html>
	<head>
		<title></title>
	</head>

	<body style="margin:0">
		<h3 style="background-color:#e5e5e5; padding: 5px; font-size:1em"><b style="color:white">RemaxThailand&#46;co&#46;th</b></h3>

		<div style="padding:10px">

			<span style="font-size:1.2em">สวัสดีค่ะ คุณ<b>REPLACFIRSTNAME</b></span>
			<br />
			<br />
			ยินดีต้อนรับเข้าร่วมเป็นส่วนหนึ่งกับเรา โดยข้อมูลการเข้าสู่ระบบเพื่อสั่งซื้อสินค้าของคุณคือ

			<table>
				<tbody>
					<tr><td style="text-align:right" width="20%" nowrap="nowrap">ชื่อผู้ใช้ : </td><td><strong>REPLACEUSERNAME</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">รหัสผ่าน : </td><td><strong>REPLACEPASSWORD</strong></td></tr>
				</tbody>
			</table>

			<br />
			<br />
			กรุณารอเจ้าหน้าที่ติดต่อกลับ เพื่อรับราคาพิเศษ และคูปองส่วนลดค่ะ

		</div>

	</body>
</html>