<html>
	<head>
		<title></title>
	</head>

	<body style="margin:0">
		<h3 style="background-color:#e5e5e5; padding: 5px; font-size:1em"><b style="color:white">RemaxThailand&#46;co&#46;th</b></h3>

		<div style="padding:10px">

			<h3>รายละเอียดการสมัคร Dealer</h3>
			<table>
				<tbody>
					<tr><td style="text-align:right" width="20%" nowrap="nowrap">ชื่อ - นามสกุล : </td><td><strong>REPLACEFIRSTNAME REPLACELASTNAME</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">อีเมล : </td><td><strong>REPLACEEMAIL</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">เบอร์มือถือ : </td><td><strong>REPLACEMOBILE</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ไอดี Line : </td><td><strong>REPLACELINE</strong></td></tr>
				</tbody>
			</table>
			<p>ลิงค์สำหรับสมัครสมาชิกสำหรับ Dealer คือ<br/>http://www.remaxthailand.co.th/dealer/register/REPLACEREFID</p>

		</div>

	</body>
</html>