<html>
	<head>
		<title></title>
	</head>

	<body style="margin:0">
		<h3 style="background-color:#e5e5e5; padding: 5px; font-size:1em"><b style="color:white">RemaxThailand&#46;co&#46;th</b></h3>

		<div style="padding:10px">

			<h3>รายละเอียดการสมัคร Dealer</h3>
			<table>
				<tbody>
					<tr><td style="text-align:right" width="20%" nowrap="nowrap">ชื่อ - นามสกุล : </td><td><strong>REPLACEFIRSTNAME REPLACELASTNAME</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">อีเมล : </td><td><strong>REPLACEEMAIL</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">เบอร์มือถือ : </td><td><strong>REPLACEMOBILE</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ไอดี Line : </td><td><strong>REPLACELINE</strong></td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ชื่อร้าน : </td><td><strong>REPLACESHOP</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ที่อยู่ : </td><td><strong>REPLACEADDRESS REPLACEADDRESS2</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">แขวง/ตำบล : </td><td><strong>REPLACESUBDISTRICT</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">เขต/อำเภอ : </td><td><strong>REPLACEDISTRICT</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">จังหวัด : </td><td><strong>REPLACEPROVINCE</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">รหัสไปรษณีย์ : </td><td><strong>REPLACEZIPCODE</strong></td></tr>
					<tr><td>&nbsp;</td></tr>
				</tbody>
			</table>

			<table>
				<tbody>
					<tr><td style="text-align:right" nowrap="nowrap">ธุรกิจ Accessories : </td><td><strong>REPLACEACCESSทำ</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ประเภทธุรกิจ : </td><td><strong>REPLACEBUZZ</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">ต้องการรับข่าวสารทาง : </td><td><strong>REPLACENEWS</strong></td></tr>
					<tr><td>&nbsp;</td></tr>
				</tbody>
			</table>

			REPLACEIMG1
			REPLACEIMG2
			REPLACEIMG3
			REPLACEIMG4
			<br />
			<br />
			คุณต้องการอนุมัติให้ร้านค้าได้ราคาช่องใด กรุณาคลิกที่ลิงค์ด้านล่างนี้<br />
			<p><a href="http://www.remaxthailand.co.th/dealer/approve/REPLACEID/2">ช่อง 2</a></p>
			<p><a href="http://www.remaxthailand.co.th/dealer/approve/REPLACEID/3">ช่อง 3</a></p>
			<p><a href="http://www.remaxthailand.co.th/dealer/approve/REPLACEID/0">ไม่อนุมัติ</a></p>

		</div>

	</body>
</html>