<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>

	<body style="margin:0">
		<h3 style="background-color:#e5e5e5; padding: 5px; font-size:1em"><b style="color:white">RemaxThailand&#46;co&#46;th</b></h3>

		<div style="padding:10px">

			<span style="font-size:1.2em">ยืนยันคำสั่งซื้อเรียบร้อยแล้ว</span>
			<br />

			<table>
				<tbody>
					<tr><td style="text-align:right" width="20%" nowrap="nowrap">หมายเลขคำสั่งซื้อ : </td><td><strong>REPLACEORDERID</strong></td></tr>
					<tr><td style="text-align:right" nowrap="nowrap">จำนวน : </td><td><strong>REPLACEITEM</strong> รายการ (REPLACEQTY ชิ้น)</td>
					<tr><td style="text-align:right" nowrap="nowrap">ราคา : </td><td><strong>REPLACEPRICE</strong> บาท</td></tr>
				</tbody>
			</table>
			<br />
			กรุณาชำระเงินภายใน <b>REPLACEHOUR ชั่วโมง</b> โดยโอนเงินมาที่บัญชี<br/>
			<img src="https://src.24fin.com/images/png/bank.png">
			<p>หลังจากโอนเงินเรียบร้อยแล้ว กรุณาส่งภาพถ่ายหลักฐานเอกสารการโอนเงิน มาที่<ul><li>Line ID <b>Remaxthai</b><br><img width="150" class="img-responsive margin-bottom-5" src="https://src.24fin.com/images/png/line-remaxthai.png"></li><li>ส่งอีเมลมาที่ <a href="mailto:sales@remaxthailand.co.th ">sales@remaxthailand.co.th</a></li></ul></p>
		</div>

	</body>
</html>