extends layout

block content
	div.page-header
		h2 #{title} 
			small : ข้อมูลต่างๆ ในระบบ

	div#accordion.panel-group(role='tablist', aria-multiselectable='true')


		div.panel.panel-default
			div#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseThailandProvince', aria-expanded='false')
						strong Thailand Province 
						&#58; ข้อมูลจังหวัดต่างๆ ในประเทศไทย
			div#collapseThailandProvince.panel-collapse.collapse(role='tabpanel')
				div.panel-body
					pre URL : /master/thailand/province
					div.panel.panel-default
						div.panel-body
							form.form-horizontal
								div.form-group
									label.col-sm-2.control-label(for='input') Language
									div.col-sm-10
										input.form-control.language(type='text', placeholder='Language')
										p.help-block 
											span.label.label-default language
											|   ภาษา เช่น (en, th)
								div.form-group.margin-bottom-0
									div.col-sm-offset-2.col-sm-10
										div.btn.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					div.result.hidden.alert.alert-info.margin-top-10.margin-bottom-0.font-pre(role='alert')


		div.panel.panel-default
			div#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseThailandDistrict', aria-expanded='false')
						strong Thailand District 
						&#58; ข้อมูลอำเภอต่างๆ ในประเทศไทย
			div#collapseThailandDistrict.panel-collapse.collapse(role='tabpanel')
				div.panel-body
					pre URL : /master/thailand/district
					div.panel.panel-default
						div.panel-body
							form.form-horizontal
								div.form-group
									label.col-sm-2.control-label(for='input') Language
									div.col-sm-10
										input.form-control.language(type='text', placeholder='Language')
										p.help-block 
											span.label.label-default language
											|   ภาษา เช่น (en, th)
								div.form-group
									label.col-sm-2.control-label(for='input') Province Code
									div.col-sm-10
										input.form-control.provinceCode(type='text', placeholder='Province Code')
										p.help-block 
											span.label.label-warning provinceCode
											|   รหัสจังหวัด
								div.form-group.margin-bottom-0
									div.col-sm-offset-2.col-sm-10
										div.btn.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					div.result.hidden.alert.alert-info.margin-top-10.margin-bottom-0.font-pre(role='alert')